<div class="skinny_wrapper">
    <%= form_for @contact do |f| %>

        <div class="form-group">
            <%= f.label :name %> <br>
            <%= f.text_field :name, required: true, class: "form-control" %>
        </div>

        <div class="form-group">
            <%= f.label :email %> <br>
            <%= f.text_field :email, required: true, class: "form-control" %>
        </div>

        <div class="form-group">
            <%= f.label :message %> <br>
            <%= f.text_area :message, as: :text, class: "form-control" %>
        </div>

        <div class="hidden">
            <%= f.label :nickname %> <br>
            <%= f.text_field :nickname, hint: 'leave this field blank' %>
        </div>

        <%= f.submit 'Send Message', class:"btn btn-default" %>
    <% end %>
</div>
