<!DOCTYPE html>
<html>
<head>
  <title>Luis Barajas</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <link href='https://fonts.googleapis.com/css?family=Raleway:700,400,200' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
</head>
<body>

    <header id="main-navigation" class="clearfix">
        <nav class="navbar navbar-default">
          <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <div class="brand-logo">
                  <a id="logo" class="navbar-brand" href="#page-top">
                      <%= image_tag "logo.png", class: "img-circle" %>
                  </a>
              </div>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">
                  <li class="social">
                      <a onclick="javascript:window.open('https://github.com/luisbarajasp', '_blank')"><i class="fa fa-github"></i></a>
                      <a onclick="javascript:window.open('https://twitter.com/luis_barajasp', '_blank')"><i class="fa fa-twitter"></i></a>
                      <a onclick="javascript:window.open('https://www.facebook.com/luisbarajasp', '_blank')"><i class="fa fa-facebook"></i></a>
                      <a href="mailto:luisbarajasp@gmail.com"><i class="fa fa-envelope"></i></a>
                  </li>
             </ul>
              <ul class="nav navbar-nav navbar-right">
                  <% if admin_signed_in? %>
                    <li><%= link_to "Home", root_path %></li>

                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Luis<span class="caret"></span></a>
                      <ul class="dropdown-menu">
                        <li><%= link_to "New Project", new_project_path %></li>
                        <li><%= link_to "Languages", languages_path %></li>
                        <li role="separator" class="divider"></li>
                        <li><%= link_to "Sign Out", destroy_admin_session_path, method: :delete %></li>
                      </ul>
                    </li>
                <% end %>

                <li><a class="inactive page-scroll" href="#about-me"><i class="fa fa-child"></i>&nbsp; About Me</a></li>
                <li><a class="inactive page-scroll" href="#projects-content"><i class="fa fa-folder"></i>&nbsp; Projects</a></li>
                <li><a class="inactive page-scroll" href="#contact"><i class="fa fa-paper-plane"></i>&nbsp; Contact Me</a></li>
              </ul>
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>
    </header>

    <% if notice %>
          <div class="alert alert-success">
            <a href="#" data-dismiss="alert" class="close">×</a>
            <ul>
              <li>
                <%= notice %>
              </li>
            </ul>
          </div>
    <% elsif alert %>
        <div class="alert alert-danger">
          <a href="#" data-dismiss="alert" class="close">×</a>
          <ul>
            <li>
              <%= alert %>
            </li>
          </ul>
        </div>
    <% end %>

    <%= yield %>

</body>
</html>
