<!DOCTYPE html>
<html>
<head>
  <title>Luis Barajas</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <link href='https://fonts.googleapis.com/css?family=Raleway:700,400,200' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
</head>
<body>

    <header id="main-navigation" class="clearfix">
        <div class="brand-logo">
            <a id="logo" href="#page-top"><%= image_tag "logo.png", class: "img-circle" %></a>
        </div>
        <div class="social">
            <a href="https://github.com/luisbarajasp"><i class="fa fa-github"></i></a>
            <a href="https://twitter.com/luis_barajasp"><i class="fa fa-twitter"></i></a>
            <a href="https://www.facebook.com/luisbarajasp"><i class="fa fa-facebook"></i></a>
            <a href="mailto:luisbarajasp@gmail.com"><i class="fa fa-envelope"></i></a>
        </div>
        <!-- <div class="btn-navigation" onclick="return toggleNav()">
            <i id="icon" class="fa fa-bars"></i>
        </div> -->
        <nav class="navbar">
            <a class="inactive page-scroll" href="#about-me"><i class="fa fa-child"></i>&nbsp; About Me</a>
            <a class="inactive page-scroll" href="#projects-content"><i class="fa fa-folder"></i>&nbsp; Projects</a>
            <a class="inactive page-scroll" href="#contact"><i class="fa fa-paper-plane"></i>&nbsp; Contact Me</a>
        </nav>
    </header>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>

</body>
</html>
